<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">

        <p>
            Before we start the experiment, we are going to ask a few questions. All answers are anonymous and confidential. During the experiment, you will be presented with two words and asked which word you think is more frequent. We ask you to respond as quickly and as accurately as possible. Please DO NOT look up word frequencies. We are interested in your first impression.
        </p>
        
        <p>
       		Press <b>Begin</b>.
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
